# your projects settings

WF_HOST       =     "example.webfaction.com"
PROJECT_NAME  =     "foo"
PROJECT_DIR   =     "/home/dry02/milanovino/production/milanovino_project"
REPOSITORY    =     "git@github.com:joe/foo.git"
USER          =     "joe"
PASSWORD      =     "secret"
SETTINGS_SUBDIR =   "foo"
VIRTUALENVS   =     "/path/to/virtualenvs"
